.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	background: #ffc802;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.button:hover {
	background-color: #ffedab;
}

.button[type="reset"] {
	background-color: #FFFFFF;
}

.button[type="reset"]:hover {
	mix-blend-mode: difference;
}